# Ignore trained networks / models
Networks/

# Serialized objects (neat-config here)
*.pkl

# Profiling output
output.prof

# Config files
*.cfg

# Pycache files
*.pyc
__pycache__/

# Numba AOT cache
*.nbc
*.nbi

# WSL

*.Identifier